<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Editar Perfil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">
        
        <link media="all" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        
    </head>
  

        <body>
            <header class="header">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a href="" class="navbar-brand">
                                <div class="brand-text brand-big visible text-uppercase">
                                    <strong class="text-primary">Cham</strong><strong>Bero</strong>
                                </div>
                                <div class="brand-text brand-sm">
                                    <strong class="text-primary">C</strong>
                                    <strong>B</strong>
                                </div>
                            </a>
                            <button class="sidebar-toggle">
                                <i class="fa fa-long-arrow-left"></i>
                            </button>
                        </div>
                        <ul class="right-menu list-inline no-margin-bottom">
                            <li class="list-inline-item logout">
                                <a id="logout" href="" class="nav-link">Cerrar Sesion
                     <i class="fa fa-sign-out"></i>
                     </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="d-flex align-items-stretch">
                <nav id="sidebar">
                    <div class="sidebar-header d-flex align-items-center">
                        <div class="avatar center-block img-thumbnail" style="background-image: url()" alt="..."></div>
                        <div class="title">
                          <h1 class='h5'></h1> 
                          <p></p>
                        </div>
                    </div>
                    <span class="heading">Menu</span>
                    <ul class="list-unstyled">
                        <li><a href=""><i class="fa fa-globe"></i>Presentación</a></li>                        
                        <li>
                            <a href="#dashvariants" aria-expanded="false" data-toggle="collapse"><i class="fa fa-film"></i>Multimedia </a>
                            <ul id="dashvariants" class="collapse list-unstyled">
                                <li>
                                    <a href=""> <i class="fa fa-photo"></i>Fotos</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li><a href=""><i class="fa fa-cog"></i>Parámetros</a></li>
                        <li class="active"><a href=""><i class="fa fa-edit"></i>Editar Información</a></li>
                        <li>
                            <a href=""> <i class="fa fa-exchange"></i>Cambiar Contraseña</a>
                        </li>
                        <li><a href=""><i class="fa fa-sign-out"></i>Cerrar Sesion</a></li>
                    </ul>
                </nav>
                <div class="page-content">
                    <div class="page-header">
                        <div class="container-fluid">
                            <h2 class="h5 no-margin-bottom fa fa-edit"> Editar Perfil</h2>
                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <div class="container-fluid">
                            <li class="breadcrumb-item"><a href="">Perfil</a></li>
                            <li class="breadcrumb-item active">Editar Información</li>
                        </div>
                    </ul>
                    <section class="no-padding-top">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="block">
                                        <div class="title">
                                            <strong>Edite su información</strong>
                                        </div>
                                        
                                        <div class="block-body">
                                                <form id="edit" #editForm="ngForm"  name="vform" (submit) = "editUser($event)">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Nombre :</label>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon fa fa-user"></span>
                                                                
                                                                        <input type="text" name= "nombre" [(ngModel)]="user.name"   placeholder="Nombre *"value="{{usu.name}}" class="form-control" required minlength="4"  #name="ngModel" id="name" >
                                                                        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                                                            <div [hidden]="!name.errors.required">
                                                                               El nombre es requerido!
                                                                            </div>
                                                                            <div [hidden]="!name.errors.minlength">
                                                                                El nombre requiere 4 letras como minimo!
                                                                            </div>
                                                                        
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Apellidos :</label>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon fa fa-user"></span>
                                                                <input type="text" class="form-control"   value="{{usu.surnames}}" placeholder="Apellidos *"  [(ngModel)]="user.surnames"  name="surnames" required minlength="4" #surnames="ngModel"/>
                                            <div *ngIf="surnames.errors && (surnames.dirty || surnames.touched)" class="alert alert-danger">
                                                    <div [hidden]="!surnames.errors.required">
                                                       El apellido es requerido!
                                                    </div>
                                                    <div [hidden]="!surnames.errors.minlength">
                                                        El apellido requiere 4 letras como minimo!
                                                    </div>
                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                        <label class="col-sm-2 form-control-label">Profesión :</label>
                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                <span class="input-group-addon fa fa-user"></span>
                                                    <select [(ngModel)]="user.professionId" [ngModelOptions]="{standalone: true}" >
                                                      <option *ngFor="let profession of professions" [value]="profession._id" class="form-control">
                                                        {{profession.description}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Correo :</label>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon fa fa-at"></span>
                                                                <input type="email" class="form-control" value="{{usu.email}}" placeholder="Correo *"  [(ngModel)]="user.email" name="email"  #email="ngModel"  required email/>
                                            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                                    <div [hidden]="!email.errors.required">
                                                       El email es requerido!
                                                    </div>
                                                    <div [hidden]="!email.errors?.email">
                                                        No se dígito un email válido!
                                                    </div>
                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Sexo :</label>
                                                    <div class="col-sm-8">
                                                        <div>
                                                            <input type="radio" name="gender" value="hombre"  checked="checked" [(ngModel)]="user.gender" name="gender"  #gender="ngModel">
                                                            <label for="optionsRadios1">Hombre</label>
                                                        </div>
                                                        <div>
                                                                <input type="radio" name="gender" value="mujer" name="gender" [(ngModel)]="user.gender"  name="gender"  #gender="ngModel">
                                                            <label for="optionsRadios2">Mujer</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Teléfono :</label>
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon fa fa-phone"></span>
                                                                <input type="number" class="form-control"  value="{{usu.phone}}"   [(ngModel)]="user.phone" placeholder="Telefono/Celular *" name="phone" #phone="ngModel"  required minlength="8" required/>
                                                <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                                                        <div [hidden]="!phone.errors.required">
                                                           El telefono es requerido!
                                                        </div>
                                                        <div [hidden]="!phone.errors.minlength">
                                                                El telefono requiere 8 digitos como minimo!
                                                        </div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                                                <div class="form-group row">
                                                    <div class="col-sm-9 ml-auto">
                                                        <button type="submit"[disabled]="!editForm.form.valid" class="btn btn-primary">Guardar Cambios</button>
                                                        <!--<button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary">Formalizar Registro</button>-->
                                                        <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
            
      
        </body>

    </html>